.paper {
	margin-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.avatar {
	margin: 1em;
	background-color: pink;
}


.form {
	width: 100%;
	margin-top: 1em;

}


.submit2{
	margin: 1em;
}


.link2 {
	padding: 1em;
}
